<mat-toolbar color="primary">
    <span><img src="/assets/images/techno.png" height="30" width="41"></span>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span>Home</a>
    <a mat-button routerLink="/about" routerLinkActive="active"><span class="fa fa-info fa-lg"></span>About</a>
    <a mat-button routerLink="/shop" routerLinkActive="active"><span class="fa fa-list fa-lg"></span>Shop</a>
    <a mat-button routerLink="/contact" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span>Contact</a>
</mat-toolbar>

<div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
            fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
    <div fxFlex fxFlex.gt-sm="50%">
        <h1>Kist Shop</h1>
        <p>KIST Shop, KamalPokhari, Kathmandu, lies in the centre of the city wransport or otherwise.</p>
    </div>

    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/techno.png" height="150" width="100" alt="Logo">
    </div>
    <div fxFlex></div>
</div>