<div class="container" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex>
        <div>
            <h3>About</h3>
            <hr>
        </div>
    </div>

    <div fxFlex>
        <div fxLayout="column" fxLayout.gt-sm="row">
            <div fxFlex="70">
                <h2>Our History</h2>
                <p>Established in 1995, KIST  is now a top +2 college in Nepal that offers high standard NEB + 2 Science & 
                    Management courses, a range of top quality Bachelor’s degrees – BBA, BIM, BIT, BBS & BSc Microbiology – 
                    followed by excellent Master’s degrees – MBS & MSc Microbiology.</p>
                <p>It is well-known to most educators and students along with their families that our educational delivery, 
                    at the different levels we cover, is as good as the best anywhere!</p>
            </div>

            <div fxFlex="30">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h2>Facts   a Kist Shop: Make a change</h2>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <dl>
                            <dt>Started</dt>
                            <dd>11 Nov, 1992</dd>
                            <dt>Microbiology Gems</dt>
                            <dd>Kist Shop Ecommerce</dd>
                            <dt>Last Year Turnover</dt>
                            <dd>$1,134,670</dd>
                            <dt>Employees</dt>
                            <dd>100</dd>
                        </dl>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxFlex>
        <mat-card>
            <blockquote>
                <h3>KIST incontestably has a fine academic atmosphere with a pragmatic, student-centered, caring approach. First-rate amenities on 
                    campus plus well-managed transport facilities attract the best students</h3>
                <footer> -- Kripesh Bista
                    <cite>We provide superb facilities such as a modern, well-stocked library with a useful adjunct, an e-library, serving all learning needs</cite>
                </footer>
            </blockquote>
        </mat-card>
    </div>

</div>